
ul 
{
	list-style: none !important;
	position: relative;
	margin:0px;
	padding:0px;
	display: flex;
}
body
{
	margin:0px;
	padding:0px;
    height: 100vh !important;
 
	display: flex;
	align-items: center;
	justify-content: center;
}
ul li
{
	position: relative;
	width:100px;
	height: 100px;
	margin:0px 45px;
	transform: rotate(-27deg) skew(25deg);
	background: #ccc;
}
ul li span
{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	transition: 0.5s;
	display: flex !important;
	align-items: center;
	justify-content: center;
	color:#fff;
	font-size: 45px !important;
}
ul li:hover span
{
 box-shadow: -1px 1px 1px rgba(0,0,0,.1);
}
ul li:nth-child(1) span
{
	background: #3b5999 !important;
}
ul li:nth-child(2) span
{
	background: #55acee !important;
}
ul li:nth-child(3) span
{
	background: #e4405f !important;
}
ul li:nth-child(4) span
{
	background: #0077b5 !important;
}
ul li:nth-child(5) span
{
	background: #dd4b39 !important;
}
ul li:hover span:nth-child(5)
{
	transform: translate(45px,-45px);
	opacity: 1;
}
ul li:hover span:nth-child(4)
{
	transform: translate(35px,-35px);
	opacity: 0.81;
}
ul li:hover span:nth-child(3)
{
	transform: translate(25px,-25px);
	opacity: 0.6;
	}
	ul li:hover span:nth-child(2)
{
	transform: translate(15px,-15px);
	opacity: 0.4;
	}
		ul li:hover span:nth-child(1)
{
	transform: translate(0px,0px);
	opacity: 0.2;
	}